.dropdown-list{
    display: flex;
    flex-direction: column;

    border-radius: 0 0 12px 12px;

    position: absolute;
  margin-top: 4.2rem;
  width: 7rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: start;
}

.c-link{
    font-size: medium;
    text-decoration: none;
    color: rgb(224, 224, 224);
}


@media screen and (max-width:600px) {
    .dropdown-list{
      background-color: transparent;
        border-style: none;
        position: relative;
        margin-top: 0;
      left: 22%;
      
    }
}