.blogs-flex{
   max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}





@media screen and (max-width:850px) {
.blogs-flex{
      grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}
}


  

@media screen and (max-width:600px) {
    .blogs-flex{
     
        display: flex;
    flex-direction: row;
  align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    height: auto;
        padding-left: 0;
       justify-content: center;
    }
    .blogs-page{
       border: none;
    }
    
}
@media screen and(min-width:700px), (max-width:1100px) {
    .blogs-flex{
        padding: 1rem;
    }
}


