@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.Main-Page{
      min-height: 90vh;
    text-align: start;
     margin-left: 8%;
    width: 100%;
}

.Gflex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.return{
    padding: 5px;
}
.return-image{
    height: 1.2rem;
}



.left{
    margin-right: 8%;
    margin-top: 2rem;
}

.right{

}

.inter-url {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
   font-size: 4rem;
}

@media screen and (max-width:600px) {
    .Main-Page{
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
     margin-left: 0%;  
     margin-top: 2rem;
    }

    .Gflex-box{
        flex-direction: column;
        margin-bottom: -10%;
    }

        .inter-url{
            font-size: 2rem;
        }
        .left{
            margin-top: 2rem;
            margin-bottom: -2rem;
        }
        .right{
             width: 60%;
            margin-bottom: 0rem;
            margin-right: 70%;
        }
        .inter-url{
          
            font-size: 2rem;
        }
 .return{
    margin-right: 70%;
 }
    
}

