.input{
    border-radius: 20px;
    background-color: rgb(68,62,62);
  height: 2rem;
  padding: 0.5rem;
  color: white;
  font-size: medium;
  width: 15rem;
}

.error{
    margin-top: -10px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: small;
}