

.newest-wrapper{
    padding-top: 10%;
 max-width: 2000px;
 padding-left: 100px;
 padding-right: 100px;
 margin: 0 auto;

}


.top-heading{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Newest-h3{
    font-size: 3rem;
}

.view-all{
  text-decoration: none;
    font-size: 1.5rem;
     border-radius: 10px;
    width: 8rem;
    background-color: rgb(48, 60, 84);
    padding: 6px;
    color: white;
    height: 2.3rem;
}

.newest-h3,
.view-all,
.fonts{
     font-family: 'IBM Plex Sans', sans-serif;
     font-weight: 500;
}
.content-section{
width: 100%;
    display: flex;
  
    gap: 2rem;

}



.content-square{
 width: 50%
 
}



.heading-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:600px) {
    .newest-wrapper{
        padding-left: 0px;
 padding-right: 0px;

    }
    .content-square{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
 
}
