
.Landing{
  width: 100%;
  display: flex;
  flex-direction: column;
   justify-content: center;


}

.Hero{
 padding-left: 5%;
  height: 90vh;
  overflow: hidden;
 background-image: url('../../assets/images/froghero.png');
 background-repeat: no-repeat;
 background-size: cover;
     padding-bottom: 10rem;
 margin-top:-7rem;
}
.heroFlex{
  margin-top:15%;
    display: flex;
    flex-direction: row;
    align-items: center;
      max-width: 1800px;
  width: 100%;

  
}
.left{
  text-align: start;
  max-width: 600px;
  flex: 1;
  margin-right: auto;
  align-items: start;
}

.right{
  flex: 1;
  display: flex;
  justify-content: center;
 margin-left: auto;
}



.topFlags{
 
   display: flex;
   gap: 10px;
}


.workFlag{
    text-decoration: none;
    font-size: 1.5rem;
  
}

.workFlag,
.leftFlag,
.rightFlag,
.flag{
    color: white;

    border-radius: 10px;
    width: fit-content;
    background-color: rgb(48, 60, 84);
    padding: 6px;
    font-family: 'IBM Plex Sans', sans-serif;
     font-weight: 400;
}

.rightFlag{
  background-color: rgb(126, 60, 24);
}

.h1{
  font-size: 4rem;

}

.h1,
.hero,
font{
  color: white;
     font-family: 'IBM Plex Sans', sans-serif;
     font-weight: 500;
}

.h3{
margin-top: -2rem;
}

.h3,
.fonth3{
   color: white;
     font-family: 'IBM Plex Sans', sans-serif;
     font-weight: 300;
     font-size: 2rem;
}

.heroImage{
   border-radius: 10px;
  border-style: solid;
  box-shadow: inset 1 -3px 3px rgb(85, 85, 56);
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  height: auto;
}


.newBlogs{
 height: 40%;

}
@media screen and (max-width:1500px) {
.Hero{
  padding-left: 4%;
}
.h1{
font-size: 3rem;
}
.h3{
  font-size: 2rem;
}
.heroImage{
  width: 600px;
}
}


@media (max-width: 1100px) {

  .heroFlex{
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  margin-top: 30%;
  }

  .left{
    width: 100%;
    max-width: 700px;
    text-align: center;
  }

  .topFlags{
    justify-content: center;
  }

  .right{
    margin-left: 0;
  }
}






@media screen and (max-width:600px) {
  .Hero{
    background-position:10%;
    height: 70vh;
    margin-top: -4rem;
   padding-bottom: 0rem;
   padding-top: 5rem;
      padding-left: 0px;
  padding-right: 0px;
  }
  .heroFlex{
  max-width: 600px;
  flex-direction: column;
  gap: 1rem;

}
.heroImage{
  width: 90%;
  height: auto;
  border-radius: 0;
}
.h3{
  margin-top: 1rem;
  font-size: medium;
}
.h1{
 
  font-size: 2rem;
}
.left{
  text-align: center;
  width: 100%;
  margin-right: auto;
  align-items: center;
}
.right{
  padding-top: 4rem;
}
.workFlag{
  font-size: medium;
}
.rightFlag,
.leftFlag,
.font{
  font-size: small;
}

.topFlags{

justify-content: center;
}


}