.propPage{
      max-width: 1600px; /* or 1100px, whatever looks good */
  margin-left: auto;
  margin-right: auto;
margin-bottom:5% ;

}

.headerWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.h3Title{
  font-size: 4rem;
}

.h3Gallary{
  font-weight: 500;
  font-size: medium;
}

