.newestWrapper{
    padding-top: 10%;
 max-width: 2000px;
 padding-left: 100px;
 padding-right: 100px;
 margin: 0 auto;
}


.topHeading{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newestH3{
    font-size: 3rem;
}

.viewAll{
  text-decoration: none;
    font-size: 1.5rem;
     border-radius: 10px;
    width: 8rem;
    background-color: rgb(48, 60, 84);
    padding: 6px;
    color: white;
    height: 2.3rem;
}

.newestH3,
.viewAll,
.fonts{
     font-family: 'IBM Plex Sans', sans-serif;
     font-weight: 400;
}
.contentSection{
width: 100%;
    display: flex;
    
   
    gap: 2rem;

}



.contentSquare{
 width: 40%
 
}

.borderLine{
    width: 0;
}


@media screen and (max-width:850px) {

    .newestWrapper{
         padding-left: 10px;

    }
.contentSquare{
    flex: 1;

}
}

@media screen and (max-width:1500px) {

 .topHeading{
    width: 80%;
 }

    .newestWrapper{
        width: 100%;
    }
}


@media screen and (max-width:600px) {
.topHeading{
    width: 80%;
padding: 2rem;
flex-direction: column;

}
      .borderLine{

  opacity: 0.4;
  width: 100%;
  background-color: black;
 height: 1px;


      }

   .newestWrapper{
     width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
 
   }
   .contentSection{

    flex-direction: column;
    align-items: center;

   }
   


}

